Checks: >-
  -*,
  bugprone-bool-pointer-implicit-conversion,
  bugprone-inaccurate-erase,
  modernize-use-nullptr,
  modernize-use-override
CheckOptions:
    - key: modernize-use-override.IgnoreDestructors
      value: '1'
HeaderFilterRegex: 'Sources[\\|\/].*'
