*~
\#*
.\#*
*.tmproj
tmtags
tags
.DS_Store
*.swp
*.o
*.orig
*.pyc

Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
build/
build-*/
Docs/Doxygen/

*.aps
*.user
*.suo
*.sdf
*.ncb
*.pch
*.pdb
[Bb]uild[Ll]og.*
[Tt]est[Rr]esult*
[Tt]humbs.db
