/**
 * Plasma engine landing page styles
 *
 * @author dpogue
 */

@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap&text=Plasma');

@ms-viewport { width: device-width; }
@viewport { width: device-width; }

:root {
    --page-background: #37372f;
    --content-sidebar: url('pahtsBrdgTrim.png');
    --content-background: #c6c3c6;
    --content-foreground: #31454a;
    --content-headings: #31454a;
    --infobox-background: rgba(255, 255, 255, 0.25);
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-background: #131311;
        --content-sidebar: url('pahtsBrdgTrim-dark.png');
        --content-background: #272527;
        --content-foreground: #c2d2d6;
        --content-headings: #e0e9eb;
        --infobox-background: rgba(0, 0, 0, 0.25);
    }
}


body {
    background: #37372f;
    background: var(--page-background);
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto', system-ui, sans-serif;
}

@media (min-width: 960px) {
    body {
        width: 960px;
    }
}

a {
    color: inherit;
    font-weight: 400;
}

b, strong {
    /* Firefox uses "bolder" by default, which is... not bold enough */
    font-weight: bold;
}

h1 {
    font-family: 'Nova Square', sans-serif;
    font-size: 3em;
    font-weight: normal;
    color: #fff3ed;
    text-align: center;
    margin: 0;
    margin-bottom: 0.25rem;
    padding-top: 1.25rem;
}

h2 {
    font-family: 'Charter', 'XCharter', 'Bitstream Charter', serif;
    font-variant-caps: small-caps;
    font-variant-numeric: oldstyle-nums;
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 0.015em;
}

header span {
    display: block;
    font-family: 'Charter', 'XCharter', 'Bitstream Charter', serif;
    font-variant-caps: small-caps;
    font-size: 1.25em;
    font-weight: normal;
    color: #eeeeee;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
    text-align: center;
    margin-top: 0.25rem;
}

header, footer {
    margin: 0 auto;
    background: transparent url('mast.png') no-repeat;
    background-position: center -90px;
    height: 120px;
}

footer {
    background-position: center bottom;
    height: auto;
}

@media (min-width: 960px) {
    header, footer {
        width: 960px;
        background-position: 0 -120px;
        height: 180px;
    }

    footer {
        background-position: left bottom;
        height: 300px;
    }
}

.page {
    background: url('pahtsBrdgTrim.png') top left repeat-y;
    background: var(--content-sidebar) top left repeat-y;
    background-color: #c6c3c6;
    background-color: var(--content-background);
    background-size: 25px;
    margin: 0;
    padding: 5px 10px;
    padding-left: 40px;
    box-sizing: border-box;
    color: #31454a;
    color: var(--content-foreground);
    border: 1px solid #37372f;
    border-width: 1px 0;
    line-height: 1.5em;
    font-weight: 300;
}

nav {
    display: flex;
    overflow: auto;
    margin: -5px -10px 0 -16px;
}

nav a {
    display: block;
    flex: 1 1 100%;
    background: url('pahtsCnlStr.png') top left no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding: 0.25em;
    font-weight: 500;
    white-space: nowrap;
    color: #31454a;
}

nav a.active {
    background-image: none;
    text-decoration: none;
    color: #31454a;
    color: var(--content-headings);
}

@media (min-width: 600px) {
    .page {
        background-size: 47px;
        padding: 10px 70px;
    }

    nav {
        margin: -10px -70px 0 -25px;
    }
}

h3 {
    font-family: 'Charter', 'XCharter', 'Bitstream Charter', serif;
    font-size: 1.25em;
    font-weight: 500;
    font-variant-caps: small-caps;
    font-variant-numeric: oldstyle-nums;
    color: #31454a;
    color: var(--content-headings);
    margin-top: 2rem;
    margin-bottom: 0;
}

ol li {
    margin-bottom: 2em;
}

ol li::marker {
    font-weight: 700;
    font-size: 1.125em;
}

ol ol li::marker {
    font-weight: 600;
    font-size: 1em;
}

dl {
    margin-left: 30px;
}

dt {
    float: left;
    min-width: 80px;
    font-weight: 500;
}

dl.wider dt {
    min-width: 120px;
}

code {
    font-weight: normal;
    font-size: 1.125em;
}

tt {
    font-size: 16px;
    font-size: 1rem;
}

@supports (-ms-ime-align: auto) {
    summary {
        display: none;
    }
}

@supports selector(details) {
    summary {
        display: revert;
        cursor: pointer;
        margin-left: -2em;
    }

    details {
        padding-left: 2em;
    }

    li summary {
        margin-left: -0.5em;
    }

    li details {
        padding-left: 0.5em;
    }
}

.expanding-heading {
    font-family: 'Charter', 'XCharter', 'Bitstream Charter', serif;
    font-size: 1.1em;
    font-weight: 500;
    font-variant-caps: small-caps;
    font-variant-numeric: oldstyle-nums;
}

.infobox {
    margin: 1.5em 2em;
    padding: 1em;
    border: 1px solid;
    background: rgba(255, 255, 255, 0.25);
    background: var(--infobox-background);
}

.infobox p:first-child {
    margin-top: 0;
}

.infobox p:last-child {
    margin-bottom: 0;
}

.infonote {
    text-indent: -1.5em;
    margin-left: 1.5em;
}

.infonote[data-infotype="warning"]:before {
    content: '⚠️ ';
}

.infonote b {
    font-weight: 500;
}

.cta-box {
    margin: 1.75rem auto 3rem;
    text-align: center;
    font-size: 1.25em;
}

@media (min-width: 960px) {
    .cta-box {
        width: 800px;
    }
}

.btn {
    display: inline-block;
    color: #31454a;
    background: #bbc3c7;
    text-shadow: 0 1px 0 rgba(225, 230, 236, 0.5);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 5px 15px;
    border: 1px solid #31454a;
    border-radius: 3px;
    font-weight: 700;
}

.btn .fa {
    display: none;
}

.cta-box .btn {
    padding: 10px;
    background: #adc4c8;
    background-image: linear-gradient(to bottom, #adc4c8, #99b6c0);
    margin: 5px 0;
}

@media (min-width: 600px) {
    .btn .fa {
        display: inline;
        text-align: left;
        width: 1.25em;
    }

    .cta-box .btn {
        padding: 10px 20px;
    }
}

@media (min-width: 960px) {
    .cta-box .btn {
        margin: auto 5px;
    }
}
