---
BasedOnStyle: Google
---
Language: Cpp
# Modifications to the style for Plasma go here
IndentWidth: 4
ColumnLimit: 0
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: MultiLine
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
BreakBeforeBraces: Custom
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveAssignments:
  Enabled: False
ReflowComments: false
LambdaBodyIndentation: OuterScope
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
PackConstructorInitializers: CurrentLine
ObjCBlockIndentWidth: 4
---
Language: ObjC
# Obj-C specific settings go here
