/////////////////////////////////////////////////////////////////////////////
//
// Icons
//

#define IDI_APPICON                     101
#define IDI_INDEXICON                   108
#define IDI_DATAICON                    109
#define IDI_PATCHICON                   110
#define IDI_MERGEDDATAICON              111
#define IDI_MERGEDINDEXICON             112

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_APPICON             ICON                    "icon1.ico"
IDI_INDEXICON           ICON                    "icon2.ico"
IDI_DATAICON            ICON                    "indexico.ico"
IDI_PATCHICON           ICON                    "dataicon.ico"
IDI_MERGEDDATAICON      ICON                    "mergedda.ico"
IDI_MERGEDINDEXICON     ICON                    "mergedin.ico"
