---
BasedOnStyle: Google
---
Language: Cpp
# Modifications to the style for Plasma go here
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 0
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: Never
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
IndentAccessModifiers: false
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveAssignments:
  Enabled: False
ReflowComments: true
LambdaBodyIndentation: OuterScope
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
PackConstructorInitializers: CurrentLine
ObjCBlockIndentWidth: 4
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
SpacesBeforeTrailingComments: 1
---
Language: ObjC
# Obj-C specific settings go here
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 0
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: Never
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
IndentAccessModifiers: false
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveAssignments:
  Enabled: False
ReflowComments: true
LambdaBodyIndentation: OuterScope
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
PackConstructorInitializers: CurrentLine
ObjCBlockIndentWidth: 4
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
SpacesBeforeTrailingComments: 1
